#playerStats {
  width: 15rem;
  height: 4rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 3rem;
  left: 3rem;
}

h1 {
  margin: 0;
  font-size: 1.4rem;
}

h2 {
  margin: 0;
  font-size: 0.95rem;
}

#playerStats_lines {
  display: flex;
  align-items: center;
}

#player_lines_thick {
  display: block;
  height: 0.2rem;
  background-color: white;
  width: 8.75rem;
}

#player_lines_thin {
  display: block;
  height: 0.1rem;
  background-color: lightgray;
  width: 6.2rem;
}

@media (max-width: 1100px) {
  #playerStats {
    left: 50%;
    transform: translateX(-50%);
    width: 8.5rem;
    height: 2.5rem;
    top: 2rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  h2,
  p,
  h3 {
    font-size: 0.7rem;
  }
}
